@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.App{
  min-height: 100vh;
  background-image: url('./Images/background.jpg');
  display: flex;
  background-size: cover;
  background-position: center;
}
